{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "react"
    ],
    "plugins": [
        "transform-async-to-generator",
        "transform-inline-environment-variables"
    ]
}