{
     "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "react"
    ],
  "plugins": [
    ["transform-inline-environment-variables", "transform-async-to-generator"]
  ]
}